.about{
    height: 31.25rem;
}
.about-container{
    width: 90rem;
    height: 24.25rem;
    display: flex;
    overflow: hidden;
}
.about-container-child{
    width: 51.375rem;
    height: 21.3125rem;
    margin-left: 6.6875rem;
    margin-top: 1.125rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-heading{
    width: 27.5625rem;
    height: 3.625rem;
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;
    color: rgb(0, 0, 34);
}
.about-line{
    height: 0;
    width: 6.0625rem;
    border: 0.3125rem solid rgb(117, 183, 62);
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    border-radius: 1rem;
}
.about-content{
    /* width: 51.375rem; */
    width: 45.375rem;
    height: 13.5rem;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.975rem;
    color: rgb(28, 31, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-img{
    align-self: flex-end;
}
.about-img img{
    width: 32.4925rem;
    height: 21.3125rem;
}

@media screen and (max-width: 600px) {
    .about{
        /* width: 100%; */
        /* max-width: 20rem; */
        height: auto;
    }
    .about-container{
        width: 100%;
        max-width: 30rem;
        height: auto;
    }
    .about-content{
        font-size: 0.5rem;
        justify-content: flex-start;
        line-height: 1rem;
    }
    .about-content-text{
        font-size: 0.75rem;
    }
    .about-heading{
        font-size: 3rem;
    }
    .about-line{
        border: 0.2rem solid rgb(117, 183, 62);
    }
    .about-container-child{
        margin: 0;
    }
    .about-img{
        display: none;
    }
}

@media screen and (max-width: 480px) {
}