@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.trial-banner{
    width: 90rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trial-banner-container{
    width: 75.25rem;
    height: 25rem;
    background-image: url('/assets/images/trial-banner.png');   
    display: flex;
    justify-content: space-around;
    align-items: center; 
    border-radius: 2rem;
}
.trial-banner-container-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trial-banner-header{
    width: 41.438rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trial-banner-heading{
    width: 41.438rem;
    height: 7rem;
    font-family: "DM Sans", serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.48rem;
    color: #ffffff;
}
.trial-banner-btn {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.trial-banner-btn button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(124,187,89);
    width: 12.25rem;
    height: 3.5rem;
    font-family: "DM Sans", serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.22rem;
    color: #ffffff;
    border: none;
    border-radius: 0.75rem;
}
.trial-banner-btn button img{
    width: 1.5rem;
    height: 1.5rem;
}

.trial-banner-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 23.8125rem;
    height: 19rem;
    border-radius: 1rem;
}
.trial-banner-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 23.8125rem;
    height: 5.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(127,191,94);
    background-color: rgb(117,184,78);
}
.trial-banner-card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 4.5rem;
    background-color: rgba(127,191,95);
    border-radius: 0.75rem;
}
.trial-banner-card-img img {
    height: 1.5rem;
    width: 1.5rem;
}
.trial-banner-card-body{
    font-family: "Inter", serif;
    font-weight: 600;
    width: 16.875rem;
    height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
}
